@import "../scss/vars";

.slide {
  width: 100%;
  background-size: cover;
  position: relative;
  height: $carousel-height;
  &__info {
    position: absolute;
    bottom: 0;
    min-height: 100px;
    width: 100%;
    background-color: $color-black;
    opacity: 0.8;
    padding: $spacing-m;
    color: $color-white;
  }
  // Creates the semi-transparent information overlay on each slide
  &__info:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2em;
    left: 0;
    z-index: 1;
    background: linear-gradient(to top right, $color-black calc(50% - 0.8px),transparent calc(50% + 0.8px));
    top: 0;
    transform: translateY(-100%);
  }
  &__desc {
    margin-bottom: $spacing-xs;
  }
  &__author {
    display: block;
    margin-bottom: $spacing-m;
    &:hover {
      color: $color-white--hover;
    }
  }
}