@import "vars";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: $spacing-l;
  margin-bottom: $spacing-l;
  @media #{$breakpoint-media-query-medium} {
    font-size: $spacing-xl;
  }
}
h2 {
  font-size: $spacing-m + $spacing-xs;
  @media #{$breakpoint-media-query-medium} {
    font-size: $spacing-l + $spacing-xs;
  }
  div + & {
    margin-bottom: $spacing-m;
  }
}
h3 {
  font-size: $spacing-m + $spacing-xxs;
  @media #{$breakpoint-media-query-medium} {
    font-size: $spacing-l;
  }
}
h4, h5, h6 {
  font-size: $spacing-s;
  @media #{$breakpoint-media-query-medium} {
    font-size: $spacing-m;
  }
}